---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if title %}{{title}}, {% endif %}Presentations</title>      
        {% include "meta.html" %}
        <link rel="stylesheet" href="/presentations/style.css?v={% version %}"/>
    </head>
    <body class="tw-bg-gray-900 tw-text-gray-50 home tw-px-4">
        {{ content | safe }}
    </body>
</html>