---
---
{% set css %}
    {# Base #}
    {% include "../../node_modules/reveal.js/dist/reset.css" %}
    {% include "../../node_modules/reveal.js/dist/reveal.css" %}
    
    {# Fonts #}
    {% include "../../node_modules/reveal.js/dist/theme/fonts/league-gothic/league-gothic.css" %}
    {% include "../../node_modules/reveal.js/dist/theme/fonts/source-sans-pro/source-sans-pro.css" %}

    {# Slide Theme #}
    {% if themeName %}
      {% if themeName === 'black' %} 
        {% include "../../node_modules/reveal.js/dist/theme/black.css" %}
      {% elseif themeName === 'white' %} 
        {% include "../../node_modules/reveal.js/dist/theme/white.css" %}
      {% elseif themeName === 'league' %} 
        {% include "../../node_modules/reveal.js/dist/theme/league.css" %}
      {% elseif themeName === 'beige' %} 
        {% include "../../node_modules/reveal.js/dist/theme/beige.css" %}
      {% elseif themeName === 'sky' %} 
        {% include "../../node_modules/reveal.js/dist/theme/sky.css" %}
      {% elseif themeName === 'night' %} 
        {% include "../../node_modules/reveal.js/dist/theme/night.css" %}
      {% elseif themeName === 'serif' %} 
        {% include "../../node_modules/reveal.js/dist/theme/serif.css" %}
      {% elseif themeName === 'simple' %} 
        {% include "../../node_modules/reveal.js/dist/theme/simple.css" %}
      {% elseif themeName === 'solarized' %} 
        {% include "../../node_modules/reveal.js/dist/theme/solarized.css" %}
      {% elseif themeName === 'blood' %} 
        {% include "../../node_modules/reveal.js/dist/theme/blood.css" %}
      {% elseif themeName === 'moon' %} 
        {% include "../../node_modules/reveal.js/dist/theme/moon.css" %}
      {% else %}
        {% include "../../node_modules/reveal.js/dist/theme/black.css" %}
      {% endif %}
    {% else %}
        {% include "../../node_modules/reveal.js/dist/theme/black.css" %}
    {% endif %}

    {# Syntax Highlighting Theme #}
    {% include "../../node_modules/reveal.js/plugin/highlight/monokai.css" %}
{% endset %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if title %}{{title}}, {% endif %}Presentations</title>        
        {% include "meta.html" %}
        <style type="text/css">
            {{ css | cssmin | safe }}
        </style>
        <link rel="stylesheet" href="/presentations/style.css?v={% version %}"/>
    </head>
    <body>
        <div class="reveal">
          <div class="slides" style="text-align: left;">
            {{ content | safe }}
          </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/reveal.js@4.1.1/dist/reveal.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/reveal.js@4.1.1/plugin/highlight/highlight.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/reveal.js@4.1.1/plugin/notes/notes.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/reveal.js@4.1.1/plugin/search/search.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/reveal.js@4.1.1/plugin/zoom/zoom.js"></script>

        <script>
          let deck = new Reveal({
            history: true,
            plugins: [RevealHighlight, RevealNotes, RevealSearch, RevealZoom],
          });
          deck.initialize();
        </script>
    </body>
</html>


