/* @import "tailwindcss/base"; */
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body.home {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

@layer components {
  .animate-link {
    color: currentColor;
    text-decoration: none;
    font-weight: 700;
    position: relative;
  }

  .animate-link svg {
    fill: currentColor;
  }

  .animate-link::after {
    transition: all ease 300ms;
    content: "";
    height: 3px;
    width: 0%;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    background: currentColor;
  }

  .animate-link:hover,
  .animate-link:focus {
    background: rgba(66, 175, 250, 0.2);
  }

  .animate-link:hover::after,
  .animate-link:focus::after {
    width: 100%;
  }
}

footer a {
  @apply animate-link tw-inline-block tw-p-1 tw-text-rjs-action;
}
